<div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <% current_user.lists.each do |list| %>
      <% next unless list.persisted? %>
      <li class="nav-item">
        <%= link_to list_items_path(list), class: "nav-link" do %>
          <%= list.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <hr>
  <%= link_to "New List", new_list_path, class: "btn btn-primary" %>
</div>